body {
   background-attachment: fixed;
   background-color: #FFFFFF;
   background-image: url(../images/bg1.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_indexText8 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText8 {
   color: #85047D;
   font-family: "Museo Sans Cyrl 900";
   font-size: 53px;
   font-weight: normal;
}
#wb_indexText8 div {
   text-align: center;
}
#wb_indexText3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText3 {
   color: #000000;
   font-family: "Museo Sans Cyrl 300";
   font-size: 37px;
   font-weight: normal;
}
#wb_indexText3 div {
   text-align: center;
}
#indexLayer6 {
   background-attachment: scroll;
   background-color: transparent;
   background-image: url(../images/uspeh_indexLayer6_bkgrnd.png);
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
#indexEditbox7 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #A9A9A9;
   border-radius: 20px;
   color: #000000;
   font-family: "Museo Sans Cyrl 300";
   font-size: 17px;
   font-weight: normal;
   line-height: 60px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: center;
}
#indexEditbox7:focus {
   border-color: #85047D;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(133,4,125,0.60);
   outline: 0;
}
#indexEditbox7::placeholder {
   color: #696969;
   opacity: 1;
}
#indexEditbox7::-ms-input-placeholder {
   color: #696969;
}
#indexEditbox1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #A9A9A9;
   border-radius: 20px;
   color: #000000;
   font-family: "Museo Sans Cyrl 300";
   font-size: 17px;
   font-weight: normal;
   line-height: 60px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: center;
}
#indexEditbox1:focus {
   border-color: #85047D;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(133,4,125,0.60);
   outline: 0;
}
#indexEditbox1::placeholder {
   color: #696969;
   opacity: 1;
}
#indexEditbox1::-ms-input-placeholder {
   color: #696969;
}
#indexButton7 {
   margin: 0;
}
#wb_indexCheckbox3 {
   margin: 0;
}
#wb_indexCheckbox3,
#wb_indexCheckbox3 *,
#wb_indexCheckbox3 ::before,
#wb_indexCheckbox3 ::after {
   box-sizing: border-box;
}
#wb_indexCheckbox3 input[type='checkbox'] {
   height: 20px;
   left: 0;
   margin: 0;
   opacity: 0;
   padding: 0;
   position: absolute;
   top: 0;
   width: 20px;
   z-index: 1;
}
#wb_indexCheckbox3 label {
   display: inline-block;
   height: 0;
   left: 0;
   padding: 0;
   position: absolute;
   top: 0;
   vertical-align: middle;
   width: 0;
}
#wb_indexCheckbox3 label::before {
   background-color: #FFFFFF;
   border: 1px solid #696969;
   border-radius: 4px;
   content: "";
   display: inline-block;
   height: 20px;
   left: 0;
   position: absolute;
   top: 0;
   width: 20px;
}
#wb_indexCheckbox3 label::after {
   display: inline-block;
   height: 20px;
   left: 0;
   line-height: 20px;
   padding: 0;
   position: absolute;
   text-align: center;
   top: 0;
   width: 20px;
}
#wb_indexCheckbox3 input[type='checkbox']:checked + label::after {
   background-size: 80% 80%;
   background: url('data:image/svg+xml,%3csvg%20height%3d%2220%22%20width%3d%2220%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%3cg%20style%3d%22fill:%23000000%22%20transform%3d%22scale%280.0112%29%22%3e%0d%0a%3cpath%20transform%3d%22rotate%28180%29%20scale%28%2d1%2c1%29%20translate%280%2c%2d1536%29%22%20d%3d%22M1671%20970q0%20%2d40%20%2d28%20%2d68l%2d724%20%2d724l%2d136%20%2d136q%2d28%20%2d28%20%2d68%20%2d28t%2d68%2028l%2d136%20136l%2d362%20362q%2d28%2028%20%2d28%2068t28%2068l136%20136q28%2028%2068%2028t68%20%2d28l294%20%2d295l656%20657q28%2028%2068%2028t68%20%2d28l136%20%2d136q28%20%2d28%2028%20%2d68z%22/%3e%3c/g%3e%3c/svg%3e') no-repeat center center;
   content: " ";
}
#wb_indexCheckbox3 input[type='checkbox']:checked + label::before {
   background-color: #DCDCDC;
   background-image: none;
   border-color: #DCDCDC;
}
#wb_indexCheckbox3 input[type='checkbox']:focus + label::before {
   outline: thin dotted;
}
#wb_indexText76 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_indexText76 {
   color: #000000;
   font-family: "Museo Sans Cyrl 300";
   font-size: 11px;
   font-weight: normal;
}
#wb_indexText76 div {
   text-align: left;
}
#wb_indexText5 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText5 {
   color: #000000;
   font-family: "Museo Sans Cyrl 900";
   font-size: 29px;
   font-weight: normal;
}
#wb_indexText5 div {
   text-align: center;
}
#wb_indexText6 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText6 {
   color: #000000;
   font-family: "Museo Sans Cyrl 300";
   font-size: 17px;
   font-weight: normal;
}
#wb_indexText6 div {
   text-align: center;
}
#indexLayer15 {
   background-color: transparent;
   background-image: none;
}
#wb_indexForm3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#modal_zvonok .modal-content {
   background-clip: padding-box;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 20px;
   overflow: visible;
}
#modal_zvonok.fade {
   -webkit-transition: opacity 0.3s linear;
   opacity: 0;
   transition: opacity 0.3s linear;
}
#modal_zvonok.fade.show {
   opacity: 1;
}
#modal_zvonok.modal {
   -webkit-overflow-scrolling: touch;
   bottom: 0;
   display: none;
   left: 0;
   outline: 0;
   overflow: hidden;
   position: fixed;
   right: 0;
   top: 0;
   z-index: 9999;
}
#modal_zvonok .modal-open .modal {
   overflow-x: hidden;
   overflow-y: auto;
}
#modal_zvonok .modal-open {
   overflow: hidden;
}
#modal_zvonok .modal-dialog {
   margin: 30px auto;
   position: relative;
   width: 400px;
}
#modal_zvonok.modal.fade .modal-dialog {
   -webkit-transform: translate(0, -25%);
   -webkit-transition: -webkit-transform .3s ease-out;
   transform: translate(0px, -25%);
   transition: transform .3s ease-out;
}
#modal_zvonok.modal.show .modal-dialog {
   -webkit-transform: translate(0, 0);
   transform: translate(0px, 0px);
}
#modal_zvonok .modal-content {
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
   position: relative;
}
#modal_zvonok .modal-header {
   border-bottom: 1px solid #000000;
   min-height: 16px;
   padding: 15px 15px 15px 15px;
}
#modal_zvonok .modal-footer {
   border-top: 1px solid #000000;
   padding: 15px 15px 15px 15px;
}
#modal_zvonok .modal-body {
   height: 490px;
   position: relative;
   width: 400px;
}
#modal_zvonok .close {
   -webkit-appearance: none;
   background: 0 0;
   border: 0;
   color: #000000;
   cursor: pointer;
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   margin-top: -2px;
   opacity: 0.5;
   padding: 15px 15px 0px 0px;
   text-shadow: 0px 1px 0px #fff;
}
.modal-backdrop {
   background-color: #000;
   bottom: 0px;
   left: 0px;
   position: fixed;
   right: 0px;
   top: 0px;
   z-index: 1040;
}
.modal-backdrop.fade {
   -webkit-transition: opacity .15s linear;
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show {
   opacity: 0.5;
}
.modal-open {
   overflow: hidden;
}
#modal_zvonok .modal-title {
   color: #000000;
   font-size: 16px;
   font-weight: 500;
   margin: 0;
}
#wb_uid4 {
   color: #000000;
}
#indexLayer15_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 280px;
}
#wb_uid3 {
   color: #000000;
}
#wb_uid2 {
   color: #000000;
}
#indexButton7 {
   cursor: pointer;
   height: 70px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 280px;
   z-index: 9;
}
#indexLayer15 {
   height: 80px;
   left: 10px;
   position: absolute;
   text-align: center;
   top: 162px;
   width: 280px;
   z-index: 13;
}
#indexEditbox1 {
   height: 60px;
   left: 0px;
   position: absolute;
   top: 78px;
   width: 290px;
   z-index: 10;
}
#wb_uid1 {
   color: #85047D;
}
#wb_uid0 {
   color: #000000;
}
#indexEditbox7 {
   height: 60px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 290px;
   z-index: 12;
}
#wb_indexText3 {
   height: 90px;
   left: 162px;
   position: absolute;
   text-align: center;
   top: 233px;
   width: 444px;
   z-index: 0;
}
#indexLayer6_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 1200px;
}
#indexCheckbox3 {
   left: 0;
   position: absolute;
   top: 0;
}
#modal_zvonok {
   text-align: left;
}
#indexLayer6 {
   bottom: 0;
   height: 477px;
   left: 0;
   margin-bottom: auto;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   width: 768px;
   z-index: 18;
}
#wb_indexText5 {
   height: 70px;
   left: 52px;
   position: absolute;
   text-align: center;
   top: 38px;
   width: 300px;
   z-index: 15;
}
#wb_indexText6 {
   height: 20px;
   left: 54px;
   position: absolute;
   text-align: center;
   top: 112px;
   width: 297px;
   z-index: 16;
}
#wb_indexText76 {
   height: 48px;
   left: 50px;
   position: absolute;
   top: 252px;
   width: 233px;
   z-index: 14;
}
#wb_indexText8 {
   height: 64px;
   left: 85px;
   position: absolute;
   text-align: center;
   top: 154px;
   width: 599px;
   z-index: 1;
}
#wb_indexForm3 {
   height: 300px;
   left: 52px;
   position: absolute;
   top: 146px;
   width: 300px;
   z-index: 17;
}
#wb_indexCheckbox3 {
   height: 20px;
   left: 20px;
   position: absolute;
   top: 252px;
   width: 20px;
   z-index: 11;
}
@media only screen and (max-width: 1199px) {
body {
   background-attachment: fixed;
   background-color: #FFFFFF;
   background-image: url(../images/bg1.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}
#wb_indexText8 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 29px;
   left: 20px;
   top: 58px;
   visibility: visible;
   width: 280px;
}
#wb_indexText8 {
   font-family: "Museo Sans Cyrl 900";
   font-size: 24px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText3 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 44px;
   left: 38px;
   top: 96px;
   visibility: visible;
   width: 245px;
}
#wb_indexText3 {
   font-family: "Museo Sans Cyrl 300";
   font-size: 19px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#indexLayer6 {
   background-attachment: scroll;
   background-color: transparent;
   background-image: url(../images/uspeh_indexLayer6_bkgrnd320.png);
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   display: inline;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 199px;
   text-decoration: none;
   visibility: visible;
   width: 320px;
}
#indexLayer6_Container {
   width: 320px;
}
#indexEditbox7 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 20px;
   color: #000000;
   display: inline;
   font-family: "Museo Sans Cyrl 300";
   font-size: 17px;
   font-style: normal;
   font-weight: normal;
   height: 50px;
   left: 5px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: center;
   text-decoration: none;
   top: 0px;
   visibility: visible;
   width: 240px;
}
#indexEditbox7 {
   line-height: 50px;
}
#indexEditbox1 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 20px;
   color: #000000;
   display: inline;
   font-family: "Museo Sans Cyrl 300";
   font-size: 17px;
   font-style: normal;
   font-weight: normal;
   height: 50px;
   left: 5px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: center;
   text-decoration: none;
   top: 67px;
   visibility: visible;
   width: 240px;
}
#indexEditbox1 {
   line-height: 50px;
}
#indexButton7 {
   display: inline;
   height: 60px;
   left: 0px;
   margin: 0;
   top: 0px;
   visibility: visible;
   width: 230px;
}
#wb_indexCheckbox3 {
   display: inline;
   height: 17px;
   left: 8px;
   margin: 0;
   top: 213px;
   visibility: visible;
   width: 17px;
}
#wb_indexCheckbox3 input[type='checkbox'] {
   height: 17px;
   width: 17px;
}
#wb_indexCheckbox3 label::before {
   border-color: #696969;
   height: 17px;
   width: 17px;
}
#wb_indexCheckbox3 label::after {
   height: 17px;
   line-height: 17px;
   width: 17px;
}
#wb_indexCheckbox3 input[type='checkbox']:checked + label::after {
   color: #000000;
}
#wb_indexCheckbox3 input[type='checkbox']:checked + label::before {
   background-color: #FFFFFF;
   background-image: none;
   border-color: #FFFFFF;
}
#wb_indexText76 {
   display: inline;
   height: 48px;
   left: 34px;
   top: 213px;
   visibility: visible;
   width: 220px;
}
#wb_indexText76 {
   font-family: "Museo Sans Cyrl 300";
   font-size: 11px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_indexText5 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 48px;
   left: 20px;
   top: 28px;
   visibility: visible;
   width: 259px;
}
#wb_indexText5 {
   font-family: "Museo Sans Cyrl 900";
   font-size: 20px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText6 {
   background-color: transparent;
   background-image: none;
   display: inline;
   height: 17px;
   left: 20px;
   top: 82px;
   visibility: visible;
   width: 259px;
}
#wb_indexText6 {
   font-family: "Museo Sans Cyrl 300";
   font-size: 15px;
   font-weight: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#indexLayer15 {
   background-color: transparent;
   background-image: none;
   border-radius: 10px;
   display: inline;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 68px;
   left: 15px;
   text-decoration: none;
   top: 140px;
   visibility: visible;
   width: 230px;
}
#indexLayer15_Container {
   width: 230px;
}
#wb_indexForm3 {
   background-color: transparent;
   background-image: none;
   display: inline;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 281px;
   left: 19px;
   text-decoration: none;
   top: 112px;
   visibility: visible;
   width: 260px;
}
#modal_zvonok .modal-content {
   background-clip: padding-box;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 20px;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
}
#modal_zvonok .modal-dialog {
   width: 300px;
}
#modal_zvonok .modal-body {
   height: 403px;
   width: 300px;
}
}
